:host {
    min-width: 10rem;
    width: 14rem;
    max-width: 20rem;
    resize: horizontal;

    max-height: calc(100vh - var(--topbar-height));
    overflow-y: auto;
    scrollbar-width: thin;
    transition: scrollbar-color 0.5s ease;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid var(--border-color);
}