:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav-container {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 16rem;
}

mat-sidenav-content {
    border-left: 1px solid var(--border-color);
}