.login-card {
    width: 100%;
    max-width: 25rem;
}

mat-card-title {
    font-size: 1.5rem;
    font-family: 'Courier New';
    font-weight: 600;
}

mat-card-subtitle {
    font-size: .85rem;
    margin: .25rem 0;
}

.full-width {
    width: 100%;
    margin-bottom: .75rem;
}

.forgot-password {
    margin-right: auto;
}