<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>DEEPIN</mat-card-title>
        <mat-card-subtitle>Sign in to your account.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Email address">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Enter your password</mat-label>
                <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'">
                <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
                    [attr.aria-label]="'Show password'" [attr.aria-pressed]="!showPassword">
                    <mat-icon>{{showPassword ? 'visibility':'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
            <button class="full-width" mat-flat-button color="primary" type="submit"
                [disabled]="isLoading || form.invalid">Sign In</button>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" class="forgot-password">Forgot Password?</button>
        <button mat-button routerLink="/account/sign-up">Sign Up</button>
    </mat-card-actions>
</mat-card>